:root {
  --md-primary-fg-color:        #76A578;
  --md-primary-fg-color--light: #304237;
  --md-primary-fg-color--dark:  #3F5146;
}

.md-typeset h1 {
  font-weight: 600;
}

.md-typeset h2 {
  color: #417991;
  font-weight: 600;
}

.md-typeset h3 {
  color: #417991;
  font-weight: 600;
}
.md-typeset h4 {
  color: #417991;
  font-weight: 600;
}

.md-typeset h5 {
  font-size: 16px;
  color: #417991;
  font-weight: 500;
}

a:link, visited, hover, active{
  color: #E2A460;
}
